<body>
    <ul class="footer-bar">
        <p id="license">
            All rights Reserved to  Krishna
        </p>
    
        <div class="left-end">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/users/profile">Profile</a>
            
        </li>
        </div>

    </ul>
</body>