*{
    margin: 0;
}
#nav-bar{
    height: 50px;
    background-color: rgba(0, 132, 255, 0.922);
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

ul{
    list-style: none;
    li{
        margin: 6px;
        padding: 2px;

        a{
            text-decoration: none;
            color: black;
        }
    }
    a{
        text-decoration: none;
        color: black;
    }

    .left-end{
        display: flex;
        justify-content: flex-end;
    }
}
